<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCk3uQbeoHEuG3VaIocKVxQF35x3ljQi-s</string>
	<key>GCM_SENDER_ID</key>
	<string>484424761087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.recyclableapp</string>
	<key>PROJECT_ID</key>
	<string>recyclingproject-97aeb</string>
	<key>STORAGE_BUCKET</key>
	<string>recyclingproject-97aeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484424761087:ios:745665df397e5fe9f356ca</string>
</dict>
</plist>